<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>交易记录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/css/homepage.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">虚拟币交易系统</a>
            </div>
        </div>
    </nav>
</div>
<div>
    <nav class="nav nav-tabs" style="margin-top:50px;background-color: #EEEEEE">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/virtual/homepage">交易中心</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/virtual/trade/user/index">买入虚拟币</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            卖出虚拟币
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-toggle="modal" data-target="#coinSell">卖出虚拟币</a></li>
                            <li><a href="/virtual/trade/user/sellInfo">卖出记录</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="/virtual/trade/user/info">交易记录</a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color: #000000"><span th:text="${user.userName}+',欢迎您'"
                                                             class="glyphicon glyphicon-user"></span>&nbsp;</a></li>
                <li><a href="/virtual/index"><span class="glyphicon glyphicon-log-in"></span>&nbsp;退出</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="panel panel-default" style="width: 90%;margin-left: 5%">
    <div class="panel-heading">
        <h3 class="panel-title" style="text-align:center">出售列表</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" style="text-align:center">
            <thead>
            <tr>
                <th>用户名</th>
                <th>类型</th>
                <th>虚拟币数量</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list: ${coinInfoList}">
                <td th:text="${list.name}"></td>
                <td th:if="${list.type eq 0}">卖出</td>
                <td th:if="${list.type eq 1}">买入</td>
                <td th:text="${list.coin}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="coinSell" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">卖出虚拟币</h1>
            </div>
            <div class="modal-body">
                <form id="form-login">
                    <div class="form-group has-feedback">
                        <label for="coinCount">卖出数量</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            <input id="coinCount" class="form-control" placeholder="请输入卖出虚拟币数量">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary" type="button" id="btn-sell">卖出</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/static/lib/js/coin.js"></script>
</body>
</html>